<% distribution = {} %>
<% @agents.each {|agent| distribution[agent] = 0} %>
<h1>Report - <%= @title %></h1>

<div id="bar-chart" class="chart"></div>

</div>
<!-- end widget div -->

<table id="report-table" class="table table-striped table-bordered table-hover datatable" style="margin-top: -30px;" width="100%">
  <thead>
    <tr>
      <th>Assignee</th>
      <th>Ticket ID</th>
      <th>Subject</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Statisfaction</th>
      <th>Created At</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr id="row-<%=ticket.id%>">
      	<td><%= Agent.find(ticket.assignee_id).name %>
        <td>
          <%= link_to ticket.id, ZendeskClient.zd_url(ticket), target: "_blank" %>
        </td>
        <td><%= ticket.subject %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.satisfaction_rating.score if ticket.satisfaction_rating.present? %></td>
        <td><%= ticket.created_at %></td>
      </tr>
      <% distribution[ticket.assignee_id.to_s] = distribution[ticket.assignee_id.to_s]+1 %>
    <% end %>
  </tbody>
</table>

<script>
  $('#report-table').dataTable({
    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>"+
      "t"+
      "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>T>",
      "autoWidth" : true,
      "sSwfPath" : "/assets/swf/copy_csv_xls_pdf.swf",
      "order": [[ 0, "asc" ]]
  });

  if ($("#bar-chart").length) {
  	var data1 = [];

	<% distribution.each do |key, value| %>
		data1.push(["<%=Agent.find(key).name+"(#{value})"%>", <%=value%>]);
	<% end %>
	
	var ds = new Array();

	//Display graph
	$.plot("#bar-chart", [data1], {
			series: {
				bars: {
					show: true,
					barWidth: 0.6,
					align: "center",
					hoverable: true
				}
			},
			xaxis: {
				mode: "categories",
				tickLength: 0
			}

	});

}

/* end bar chart */
</script>
