<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body class="animated fadeInDown">

    <%= render "layouts/application/header" %>

    <div role="main">

      <!-- MAIN CONTENT -->
      <div id="content" class="container">
        <%= bootstrap_flash %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 hidden-xs hidden-sm" style="text-align:right">
            <img src="/assets/appd.png" alt="" style="width:150px;padding-bottom:10px;"/>
            <img src="/assets/download.jpeg" alt="" style="width:150px"/>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 hidden-xs hidden-sm">
            <h1 class="txt-color-red login-header-big" style="text-align:center">Support Dashboard</h1>
            <h4 class="paragraph-header" style="text-align:center">Manage-Monitor Support Resource</h4>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
